body a {
  color: #1d6bcb;
}
div,
table,
td,
p,
a,
.btn {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  font-family: Heebo, sans-serif;
}

.email-container-nft {
  margin: auto;
  background: #F8F6F0;
  max-width: 640px;
}

.email-header {
  height: 95px;
  background: #27272A;
  display: flex;
  align-items: center;
}

.email-logo {
  width: 180px;
  height: 70px;
  margin: auto;
}

.email-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.content-title {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DCDCE1;
  font-weight: 700;
  font-size: 20px;
  color: #303034;
}

.content-detail {
  margin-top: 20px;
}

.click-nft-ticket {
  padding-left: 0;
  padding-right: 0;
}

.click-nft-ticket a {
  width: 100%;
  height: 100%;
  display: flex;
}
.detail-text {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 400;
  font-size: 15px;
  color: #303034;
  word-break: break-word;
}

.unsubscribe {
  font-weight: 400;
  font-size: 13px;
  color: #ABACB6;
  border-top: 1px solid #DCDCE1;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

.unsubscribe-btn {
  color: #ABACB6 !important;
  text-decoration: underline !important;
}

button {
  width: 200px;
  height: 45px;
  background: #FC0006;
  border-radius: 2px;
  border: none;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 15px;
  color: #F8F6F0;
}

a {
  text-decoration: none;
  color: #1974D2;
}

.email-container-code {
  margin: auto;
  background: #F8F6F0;
  max-width: 640px;
}

.detail-code {
  font-weight: 700;
  font-size: 32px;
  color: #303034;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.ticket-img {
  margin: auto;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-publish {
  margin: initial;
}

.ticket-info {
  margin-bottom: 20px;
}

.ticket-info .title {
  font-weight: 700;
  font-size: 13px;
  color: #303034;
  margin-bottom: 6px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 0;
  font-weight: 300;
  font-size: 13px;
  color: #303034;
}

.info-item img {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.detail-text .note {
  font-weight: 700;
  font-size: 15px;
  color: #303034;
}