body a {
  color: #1d6bcb;
}
div,
table,
td,
p,
a,
.btn {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  font-family: Heebo, sans-serif;
}

.email-container-nft {
  margin: auto;
  background: #f8f6f0;
  max-width: 640px;
}

.email-header {
  height: 95px;
  background: #27272a;
  display: flex;
  align-items: center;
}

.email-logo {
  width: 180px;
  height: 70px;
  margin: auto;
}

.email-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.content-title {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdce1;
  font-weight: 700;
  font-size: 20px;
  color: #303034;
}

.content-detail {
  margin-top: 20px;
}

.click-nft-ticket {
  padding-left: 0;
  padding-right: 0;
}

.click-nft-ticket a {
  width: 100%;
  height: 100%;
  display: flex;
}
.detail-text {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 400;
  font-size: 15px;
  color: #303034;
  word-break: break-word;
}

.unsubscribe {
  font-weight: 400;
  font-size: 13px;
  color: #abacb6;
  border-top: 1px solid #dcdce1;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

.unsubscribe-btn {
  color: #abacb6 !important;
  text-decoration: underline !important;
}

button {
  width: 200px;
  height: 45px;
  background: #fc0006;
  border-radius: 2px;
  border: none;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 15px;
  color: #f8f6f0;
}

a {
  text-decoration: none;
  color: #1974d2;
}

.email-container-code {
  margin: auto;
  background: #f8f6f0;
  max-width: 640px;
}

.detail-code {
  font-weight: 700;
  font-size: 32px;
  color: #303034;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.ticket-img {
  margin: auto;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-publish {
  margin: initial;
  width: 100%;
  height: 240px;
  background-size: contain;
}

.ticket-info {
  margin-bottom: 20px;
}

.ticket-info .title {
  font-weight: 700;
  font-size: 13px;
  color: #303034;
  margin-bottom: 6px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 0;
  font-weight: 300;
  font-size: 13px;
  color: #303034;
}

.info-item img {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.detail-text .note {
  font-weight: 700;
  font-size: 15px;
  color: #303034;
}

.ticket-detail {
  min-height: 140px;
  max-height: 140px;
}

.notes {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
}

.notes p {
  margin: 0;
}

.notes .notes-title {
  margin-right: 10px;
  color: #717179;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.notes .notes-title span {
  white-space: nowrap;
}

.notes .notes-text {
  color: #717179;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.ticket-detail {
  display: flex;
}

.ticket-detail-left {
  width: 120px;
  height: calc(140px - 20px);
  padding: 10px;
}

.ticket-detail-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.ticket-detail-right {
  width: calc(100% - 198px);
  margin-left: 18px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.ticket-detail-right .ticket-info {
  margin-bottom: 0;
}

.ticket-detail-right .ticket-info :last-child {
  margin-bottom: 0;
}

.ticket-detail-right .ticket-info .title {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ticket-detail-right .ticket-info .info-item {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
}
