@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&family=Oswald:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #27272A;
  font-family: Heebo, sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
  background: #27272A;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.ant-message {
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.error-message-tickets .ant-message-notice-content,
.error-message-login .ant-message-notice-content {
  background-color: #717179;
  color: #EEEEF3;
  opacity: 0.9;
  border-radius: 4px;
}
